.selector_pais{
    display: block;
    margin: 5vw auto;
    padding: 0 2vw;
    border-radius: 15px;
    border: 0;
    font-size: 3vw;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.arrow_down{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 50%;
    border: 0.1px solid black;
    width: 6vw;
    height: 6vw;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vw 0;
}
.wrapper h2{
    width: 40%;
}
#mainPhoto{
    width: 20%;
    max-width: 15vw;
    margin-bottom: 10px;
    margin-right: 3vw;
    filter: drop-shadow(0px 8px 15px black);
    z-index: -1;
}
.imgCarousel{
    width: 12vw;
    min-width: 20%;
    transition: 0.3s;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding: 3px;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 15px 0 15px 0;
    box-shadow: 3vw 3vw 0 0 rgba(0,0,0,0.4);
    margin-bottom: 2vw;
}
.imgCarousel:hover{
    width: 15vw;
    border: 2px solid rgb(39, 90, 21);
}
iframe{
    display: block;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
}

#pie{
    width: 90%;
    font-size: 5vw;
    text-align: center;
    margin: 20px auto;
    color:rgb(0, 0, 0);
}


@media(min-width:600px){
    .selector_pais{
        font-size: 1.5vw;
        margin: 3vw auto;
    }
    .arrow_down{
        width: 2vw;
        height: 2vw;
    }
    .wrapper{
        margin: 3vw 0;
        flex-direction: column;
        align-items: center;
    }
    #mainPhoto{
        max-width: 10vw;
        margin-right: 0vw;
    }
    .imgCarousel{
        width: 5vw;
        box-shadow: 1vw 1vw 0 0 rgba(0,0,0,0.4);
    }
    .imgCarousel:hover{
        width: 7vw;
    }
    iframe{
        width:50%;
        font-size: 1000vw;
    }
    #pie{
        font-size: 2vw;
    }
}