.carousel{
    width: 60%;
    margin: auto;
}
#competiciones{
    justify-content: center;
}
#competiciones a{
    width: 10%;
}
#competiciones img{
    width: 100%;
}
#competiciones a:hover{
    transform: scale(1.5);
}
#competiciones:hover :not(:hover){
    opacity: 0.4;
}
iframe{
    display: block;
    zoom: 2;
    width: 56%;
    margin: 0 auto;
}
.lista{
    width: 100%;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.lista li{
    margin: auto;
}
#pie{
    width: 90%;
    text-align: center;
    margin: 20px auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mainPhoto{
    width: 20vw;
    margin-bottom: 10px;
}
.imgCarousel{
    width: 10vw;
    transition: 0.3s;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding: 3px;
    cursor: pointer;
    border-radius: 10px;
}
.imgCarousel:hover{
    width: 15vw;
    border: 2px solid rgb(39, 90, 21);
}