*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(245.59deg, #5db16b 0%, #38703d 40%, #18511d 60%);
}
.contenedor{
    display: flex;
}
.subtitulo{
    text-align: center;
    font-size: 5vw;
    margin: 20px 0;
}
::-webkit-scrollbar{
    width:6px;
}
::-webkit-scrollbar-track{
    background: rgb(171, 171, 171);
}
::-webkit-scrollbar-thumb{
    background:rgb(7, 76, 7);
    border-radius:15px;
}
.oculto{
    display: none;
}
.mostrar{
    display: block;
}

/* HEADER */

header{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgb(52, 49, 49);
    border-bottom: 0.1px solid black;
}
.cont_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_info_pagina,.footer_info_pagina{
    display: flex;
    align-items: center;
}
.logo{
    margin: 1vw;
    width: 7vw;
}
.titulo_pagina{
    font-size: 4vw;
    color: rgb(103, 180, 106);
    margin: 0;
}
.header_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cont_buttons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_button{
    display:inline;
}
.header_button i{
    color: rgb(103, 180, 106);
    transition: 0.1s;
    margin: 0.5vw;
}
.header_button i:hover{
    transform: scale(1.2);
    color: rgb(60, 125, 63);
}
#borroso{
    position: absolute;
    top:0;
    width:100vw;
    height:100vh;
    z-index: 3;
    backdrop-filter: blur(2px);
}
#suscripcion{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 85vw;
    border: 0.1px solid black;
    background: linear-gradient(245.59deg, #5db16b 0%, #38703d 40%, #18511d 60%);
}
.cross_icon{
    margin: 0 2vw;
    text-align: end;
}
.cross_icon i{
    cursor: pointer;
}
#suscripcion form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#suscripcion .subtitulo{
    width:90%;
    margin: 3vw auto;
}
.form_input{
    margin: 1vw 0;
    font-size: 3vw;
}
#suscripcion span{
    display: flex;
    align-items:center;
    margin: 2vw 0;
    font-size: 3vw;
}
#check{
    margin-right: 1vw;
}
.form_submit{
    margin: 3vw 0;
    font-size: 3vw;
    border: 0;
    border-radius: 15px;
    background-color: rgb(52, 49, 49);
    padding: 0.5vw 2vw;
    color: white;
}

/* MAIN */

main{
    margin-top: 5%;
}
.cont_club{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2vw .5vw;
    background-color: rgb(52, 49, 49);
    color: white;
    border-radius: 15px 0 15px 0;
    box-shadow: 3vw 3vw 0 0 rgba(0,0,0,0.4);
}
.club_img{
    width: 30%;
    max-width: 12vw;
    margin-right:1vw;
}
.club_nombre{
    font-size: 3vw;
}
.club_desc{
    font-size: 2vw;
    margin: 0;
}

/* FOOTER */

footer{
    background-color: rgb(52, 49, 49);
} 
.cont_footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer_info_pagina,.footer_creador,.footer_actualiz{
    text-align: center;
    font-size: 3vw;
    width: 20%;
    color: rgb(103, 180, 106);
    margin: 2vw 0;
}
.footer_creador a{
    text-decoration: none;
    color: rgb(103, 180, 106);
    transition: 0.1s;
}
.footer_creador a:hover{
    color: rgb(60, 125, 63);
}
.footer_redes{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
.footer_redes li{
    display: inline;
    margin:0 2vw 1vw;
}
.footer_redes li a{
    color:rgb(12, 132, 12);
}
.footer_redes li a:hover{
    color: rgb(107, 201, 107);
}