*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(155, 230, 155);
}
.contenedor{
    display: flex;
}
/* .columna{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fila{
    display: flex;
    align-items: center;
} */
.subtitulo{
    text-align: center;
    margin: 20px 0;
}
.oculto{
    display: none;
}
.mostrar{
    display: block;
}

/* HEADER */

header{
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    background-color: rgb(1, 75, 23);
}
#contHeader{
    justify-content: space-around;
    align-items: center;
}
#info_pagina{
    display: flex;
    align-items: center;
}
#logo_pagina{
    margin: 1vw;
    width: 7vw;
}
#nombre_pagina{
    font-size: 4vw;
    color: rgb(103, 180, 106);
}
#boton{
    font-size: 3vw;
    background-color: rgb(105, 207, 80);
    padding: 5px;
    border-radius: 5vw;
    border: 0;
}
.menu{
    position: fixed;
    top: 9vw;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 189, 55);
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    border: 0.1px solid black;
    cursor: pointer;
    font-size: 3vw;
}
.nav{
    justify-content: space-around;
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: auto 0;
}
.nav li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav_horiz li{
    float: left;
    display: inline;
}
.nav_vert li{
    float: center;
    display: block;
}
.nav_horiz li a:hover, .nav_vert li a:hover{
    color: rgb(12, 132, 12);
    border-bottom: 1px solid green;
}
#clubes{
    position: fixed;
    width: 100%;
    top: 9vw;
    background-color: rgb(18, 142, 55);
}

/* MAIN */

main{
    margin-top: 5%;
}

#presentacion_club{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-image:url("./images/hinchada_arg.webp");
    image: 0.1;
}
#pres_club_img{
    width: 30%;
    max-width: 10vw;
}
#pres_club_nombre{
    width: 30%;
    font-size: 3vw;
}
#pres_club_desc{
    width: 40%;
    font-size: 2vw;
}

/* FOOTER */

#contFooter{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: rgb(1, 35, 1);
} 
#nav_footer li a{
    color:rgb(12, 132, 12);
}
#nav_footer li a:hover{
    color: rgb(107, 201, 107);
}